# specify compatible versions

# The function url_quote was removed from werkzeug.urls in newer Werkzeug versions (>=2.1+), but some versions of Flask (especially <2.2) still try to import it.

flask==2.1.2
werkzeug==2.1.2